.packing{
  height: 300px;
  width: 400px;
  margin: 10px;
}

.giftDisplay{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.gift-style{
  height: 400px;
  width:30%;
}

.addButton{
  position: absolute;
  margin: 250px 45px;
  width:200px;
}

.submit-button{
  padding-bottom: 10px;
  margin: 10px;
  float: right;
  background-color: darkgreen;
}

.cart-images{
  float: left;
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.sticker-options{
  display: flex;
  flex-wrap: wrap;
}

.sticker-options input{
  height: 200px;
  width: 200px;
}

.change-btn{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.inline-header li{
  align-content: center;
  padding: 20px;
  cursor: pointer;
}

.inline-header {
  display: flex;
  justify-content: center;
  list-style-type: none;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: palegoldenrod;
  text-align: center;
  margin-top: 50px;
}

.footer-data{
  display: flex;
  justify-content: center;
}
.footer-data div{
  padding: 20px;
}

.footer-inside p{
  margin:2px
}
.footer-inside span{
  padding:10px 0px
}