.packing{
  height: 300px;
  width: 400px;
  margin: 10px;
}

.giftDisplay{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.gift-style{
  height: 400px;
  width:30%;
}

.addButton{
  position: absolute;
  margin: 250px 45px;
  width:200px;
}

.submit-button{
  padding-bottom: 10px;
  margin: 10px;
  float: right;
  background-color: darkgreen;
}

.cart-images{
  float: left;
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.sticker-options{
  display: flex;
  flex-wrap: wrap;
}

.sticker-options input{
  height: 200px;
  width: 200px;
}

.change-btn{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
